.banner{

    background-image: url(https://firebasestorage.googleapis.com/v0/b/fotosantojitosbr.appspot.com/o/goku.jpg?alt=media&token=6b75448a-1a4f-47e5-a0dc-a565b1892a1b);
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 100% 20%;

}